
.contextMenu {
    display: none;
    background: rgba(30, 30, 30, 1);
    /*box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 1);*/
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 15;
    list-style-type: none;
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

/* don't show dotted lines when focused */
.contextMenu:focus {
    outline: 0;
    border: 0;
}

.contextMenu li {
    padding-left: 10px;
    padding-right: 40px;
}

.contextMenu li:hover {
    background-color: rgba(5, 5, 5, 1);
}

.contextMenu li[disabled] {
    opacity: 0.4;
}
