

#rectangle {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    position: absolute;
    background: red;
    top: 50%;
    left: 50%;
}
